* {
    margin: 0
}

.h70 {
    height: calc(70vh - 64px);
    overflow: auto;
}

.h100 {
    height: calc(100vh - 64px);
}

.EventInfoForm__event-card {
    padding-top: 5px;
    padding-right: 5px;
}

.EventInfoForm__event-card:first-child {
    padding-top: 0;
}

.EventInfoForm__event-card-container {
    background: white;
}

.EventInfoForm__no-events-row {
    height: 100%;
}

.EventCalendar__cell {
    overflow: hidden;
}

.LoginForm__error-text {
    color: red;
    padding-bottom: 10px;
}

.Navbar__username {
    color: white;
    padding-right: 10px;
}

.Event__add-event-row {
    padding: 10px 0;
}